*{
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}
body{
    overflow: hidden;
}

.pencil-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

.pencil-head{
    height: 30px;
    width:60px;
    background-color: darksalmon;
    border-radius: 0.4rem 0.4rem 0 0;
    border: 1px solid black;
}
.pencil-main{
    position: relative;
}
.pencil-body{
    display: flex;
}

.body{
    height: 300px;
    width: 20px;
    background-color: rgb(255, 217, 0);
    border: 1px solid black;
    border-bottom: none;
}


.wave-container{
    position: absolute;
    z-index: 200;
    top: 97%;

}
.wave{
    display: inline-block;
    margin-right: -11px;
    height: 20px;
    width: 20px;
    background-color: rgb(255, 217, 0);
    border-radius: 50%;

}
.pencil-wood{
    width: 0;
	height: 0;
	border-left: 31px solid transparent;
	border-right: 31px solid transparent;
	border-top: 50px solid  rgb(246, 213, 163);
}

.pencil-tip{
    width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid  #5a5a5a;
    position: absolute;
    top: 62%;
}

.pencil-end{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.center{
    position: absolute;
    top: 70%;
    left:50%;
    transform: translate(-50%,-50%);
}

button{
    font-size: 1rem;
    border: none;
    cursor: pointer;
}
button:hover{
    left:48%;
    transform: scale(2);
    color: #1f99da;
}

.pencil-container{
    transform: rotate(40deg);
}





